caption {
    padding: 10px;
}

th {
    padding: 10px;
}


table {
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: #028E9B;
    border-style: dashed;
    margin: auto;
    margin-top: 15%;
}


div.usedcell > td {
    text-decoration: line-through;
    padding: 10px;
}

div.usedweekendcell > td {
    font-weight: bold;
    padding: 10px;
    text-decoration: line-through;
}

div.prevmonthcell > td{
    color: grey;
    padding: 10px;
}

.prevmonthcell {
    color: grey;
    padding: 10px;
}

.currcell {
    background-color: #FFAD00;
    color: black;
    padding: 10px;
}

.weekendcell{
    font-weight: bold;
    padding: 10px;
}

div.weekendcell > td{
    font-weight: bold;
    padding: 10px;
}

